body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: url('../img/neonbannernew.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 20px 40px; 
    position: relative; 
    background-color: rgba(255, 255, 255, 0.9); 
    transition: background-color 0.3s ease; 
}

.navbar.fixed-top {
            position: fixed;
        }

.navbar-brand img {
    max-width: 150px; 
    height: auto;
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 1; 
}

.navbar-nav .nav-link {
    font-size: 18px; 
    color: white !important; 
    font-weight: bold; 
    padding: 10px 20px; 
    margin: 0 10px; 
    text-align: center; 
    position: relative; 
    z-index: 1; 
}



.navbar-nav .nav-link:hover {
    background-color: rgba(232, 3, 179, 0.3); 
    border-radius: 10px; 
}





@media (max-width: 768px) {
    .navbar-collapse {
        justify-content: center; 
    }

    .navbar-toggler {
        margin-right: 114px; 
        margin-top: 270px;
        background-color: #E2E603;
    

    }
    .navbar-brand img {
        max-width: 150px; 
        height: auto; 
        position: absolute; 
        top: 40px; 
        left: 110px; 
        z-index: 1; 
    }
}
/**************************************Final del nav************************************/


.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
    background-color: #E2E603; 
}

.banner-text h1 {
    font-size: 35px; 
    font-weight: 300; 
    color: white; 
    margin: 0; 
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}
/*****************************Fin del banner***********************************/

.columna {
    padding: 0;
    text-align: center;
    width: 100% ;
  }
  .columna p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    margin: 20px;
  }
  .columna-1 {
    background-color: #C04DFF; 
  }
  .columna-2 {
    background-color: #24E0FF; 
  }
  .columna-3 {
    background-color: #FF00AA; 
  }




  #seccion2 {
    width: 100%; 
    background-color: #f8f9fa; 
    padding: 0;
    margin: 0;
}

#seccion2 .container-fluid {
    padding: 0; 
    margin: 0; 
}

#seccion2 .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

#seccion2 .col-md-4 {
    padding-right: 0;
    padding-left: 0;
}

#seccion2 .columna {
    padding: 30px; 
    box-sizing: border-box;
    transition: transform 0.3s ease; 
}

#seccion2 .columna .image-box {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

#seccion2 .columna img {
    width: 100%;
    height: auto; 
    border-radius: 5px; 
}

#seccion2 .columna h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px; 
    color: #fff; /
    margin: 10px 0; 
}

#seccion2 .columna p {
    font-size: 18px; 
    line-height: 1.5; 
    color: #ff; 
    margin: 0; 
    padding: 0; 
    background-color: transparent; 
    border-radius: 0; 
    box-shadow: none; 
}


#seccion2 .columna:hover {
    transform: scale(1.08); 
    cursor: pointer;
}
/*****************************************Fin seccion 2******************************************/





#seccion3 {
    padding: 40px 0; 
    background-color: #E2E603 !important;
}

#seccion3 .titulajes {
    margin-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px; 
    color: #C04DFF; 
    text-align: left; 
    font-weight: bold;
}

#seccion3 p {
    font-size: 16px; 
    line-height: 1.6; 
    color: #FF00AA; 
    text-align: justify; 
    margin-top: 5px; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#seccion3 .video-container {
    width: 100%; 
    padding-top: 56.25%; 
    position: relative; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 15px; 
}

#seccion3 .video-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
}
/*******************************Fin Seccion 3**********************/



.bannerparallax {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    height: calc(40vh);
    background-position: center;
    background-image: url('../img/neon.jpg');
    background-blend-mode: multiply;  
}



 .titulo {
    font-size: 45px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px; 
 }

.bannerparallax p {
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .text-white {
    color: #fff; 
 }

.container {
    max-width: 960px; 
    margin: 0 auto; 
}
    
.pt-5 {
     padding-top: 20px; 
}


/***********************************FIN seccion banner paralax***********************************/
#seccion-audio {
    padding: 80px 0;
    background-color: #E2E603;
}

.imagen-container {
    text-align: center;
    margin-bottom: 30px;
}

.imagen-container img {
    max-width: 60%;
    height: auto;
}

p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FF00AA;
}

audio {
    width: 100%;
}

/************************************FIN seccion audio***********************************************/









