body {
    background-image: url(../img/pastelbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
  }


  .header {
    background-color: pink;
    width: 100%;
    padding: 20px 0;
  }
  
  .header h1{ 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 70px;
  }
  
  .photo-gallery {
    padding: 50px 0;
  }

  .photo-gallery h1 {
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

 

  .imghvr-fold-left figcaption h3 {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 45px;
    margin: 0;
    padding: 0;
  }

  .imghvr-fold-left figcaption p {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
  }

  .imghvr-fold-left{
    background-color: pink;
  }


  .imghvr-fold-left figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: rgb(123, 207, 235);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }


  .footer {
    padding: 10px 0;
    text-align: center;
  }

  .footer h2{
    color: rgb(237, 9, 157);
    font-size: 20px;
    font-weight: lighter;
  }