.header h1 {
    margin-top: 50px;
    color: #81b324;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header h2 {
    color: gray;
    font-size: 20px;
    font-weight: lighter;

}

.header {
    margin-top: 10px;
    margin-bottom: 30px;
}
/*final de header*/

.icon-large {
    width: 120px; 
    height: auto;
}
.icon-text {
    color: #81b324; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    margin-top: 10px; 
    font-size: 20px; 
}
.icon-description {
    color: #06342c; 
    font-size: 18px; 
}


.btn-custom {
    background-color:#81b324 ;
    color: #fff; 
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    cursor: pointer;
}
.btn-custom:hover {
    background-color: #004d40; /* Color del botón al pasar el cursor */
}




  /*Inicio footer*/
  .footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer h2{
    font-size: 15px;
    font-weight: lighter;
  }
