.navbar-custom {
    background-color: #070707; 
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px; 
    font-family: 'Roboto', sans-serif; 
}

.navbar-brand img {
    height: 100px; 
    margin-right: 10px; 
}

.navbar-brand {
    display: flex;
    align-items: center; 
}

.navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 26px; 
    margin-right: 15px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-nav .nav-link:hover {
    color:#F92099; 
}


.text-section {
    background-color: #F92099;
}
  
.text-section h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #f7f7f7;
}

.text-section p {
    font-size: 20px;
    color: #070707;
}

.logo-section {
    background-color: #f7f7f7; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-section .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    padding: 10px 0;
    text-align: center;
  }

  .footer h2{
    color: rgb(237, 9, 157);
    font-size: 20px;
    font-weight: lighter;
  }